/* GLOBAL */
html,
body {
    font-family: roboto condensed, sans-serif;
}

.content__after::after {
    content: "";
    width: 120px;
    height: 4px;
    position: absolute;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    bottom: -1px;
    left: 0;
}

/* HEADER */
header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#movieNavbar .navbar-nav,
#hideNavbar .navbar-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#movieNavbar .navbar-nav .nav-link,
#hideNavbar .navbar-nav .nav-link {
    letter-spacing: 2px;
    padding: 10px 25px;
    color: white;
}

.img__logo {
    width: 75px;
    height: 75px;
}

.hide-menubar .navbar-onscroll-by-user .navbar-nav .nav-item.active .nav-link {
    color: #fbbd61 !important;
    font-size: 15px;
}

.hide-menubar .navbar-onscroll-by-user .navbar-nav .nav-item .nav-link {
    font-size: 15px;
}

.hide-menubar {
    position: fixed;
    width: 100%;
    transition: top 0.5s;
    background-color: black;
    z-index: 12345;
    top: 0;
}

.btn__edit-login {
    top: 30px;
    transform: translateX(-50%);
    position: absolute;
    background: linear-gradient(90deg, #F2B06D 0%, #EA841D 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 8px 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    width: 135px;
}

.btn__edit-login:hover {
    background: linear-gradient(90deg, #E0BA61 0%, #E48E25 100%);
    text-decoration: none;
    color: #6f6045;
}


/* Carousel */

.carousel-item__trailer span {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    line-height: 50px;
}

.carousel-item__trailer .btn-playTrailer {
    background: linear-gradient(to right, #fbbd61, #ec7532);
    border-radius: 40px;
    font-size: 14px;
    padding: 2px 40px;
    letter-spacing: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.carousel-item__trailer .btn-playTrailer span:nth-child(2),
.playtrailer {
    position: relative;
    z-index: 1;
    color: white;
    border: none;
}

#movieNavbar li.nav-item::after,
#hideNavbar li.nav-item::after {
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    transition: all 0.3s;
}

#movieNavbar li.nav-item:hover::after,
#hideNavbar li.nav-item:hover::after {
    width: 100%;
}

#movieNavbar li.nav-item.active::after,
#hideNavbar li.nav-item.active::after {
    width: 100%;
}

/* Name user */
.name--user {
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-bottom: none
}
.checkunder {
    border-bottom: none !important;
}

.design__logout {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 27%;
    transform: translateX(300%);
    text-decoration: none;  
}

.logout-name {
    color: white;
    text-decoration: none;
}

/* Ticket */
.buy__ticket  {
    position: absolute;
    top: 27%;
    transform: translateX(215%);
}

.picture__ticket {
    width: 85px;
    height: 36px;
}

/* Logout */
.container__logout {
    position: absolute;
    right: -13%;
    transform: translateY(-18%);
}

